<!-- side-bar -->
	<div id="fh5co-offcanvass">
		<a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close"><i class="icon-cross"></i> </a>
		<h1 class="fh5co-logo"><a class="navbar-brand" href="/{{found._id}}/wishlists">{{found.username}}'s friends' wishlists</a></h1>
		<ul>
			<a href="/{{userId}}/adoptedwishes">~My Adopted Wishes~</a>
			{{#each friendList}}
				<li><a href="/{{../found._id}}/{{_id}}/wishlists">{{username}}</a></li>
			{{/each}}
			<!-- <li><a href="about.html">Daniel</a></li>
			<li><a href="pricing.html">Jason</a></li>
			<li><a href="friends.html">Samantha</a></li> -->
		</ul>
		<a href="/logout">Log out</a>
		<h3 class="fh5co-lead">Connect with us</h3>
		<p class="fh5co-social-icons">
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-instagram"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-youtube"></i></a>
		</p>
	</div>


	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="fh5co-menu-btn js-fh5co-menu-btn ">Menu<i class="icon-menu"></i></a>
					{{#if friend}}
					<a class="navbar-brand">~{{friend.username}}'s Deseos~</a>
						{{else}}
						{{#if adoptPage}}
							<a class="navbar-brand">~Adopted Deseos~</a>
						{{else}}
							<a class="navbar-brand">~My Deseos~</a>
						{{/if}}
					{{/if}}

				</div>
			</div>
		</div>
	</header>
	<!-- END .header -->


	<div id="fh5co-main">
		<div class="container">

			<div class="row">

        <div id="fh5co-board" data-columns>
					{{#if adoptPage}}
						{{#each wishes}}
							<div class="item">
								<div class="animate-box">
									<a href={{imgUrl}} class="image-popup fh5co-board-img"><img src={{imgUrl}} alt="Deseo pic"></a>
								</div>
								<div class="container-flex">
									<div class="fh5co-desc">{{name}}</div>
									<div class="container-flex">
										<a class="text-left text-leftpadding text-bottompadding" href={{purchaseUrl}} target="_blank">Purchase Link</a>
										<a class="text-right text-rightpadding text-bottompadding" href="/{{_id}}/{{../selfId}}/cancel">Cancel adoption</a>
									</div>
								</div>
							</div>
						{{/each}}
					{{else}}
					{{#if selfPage}}
						{{#each wishes}}
							<div class="item">
								<div class="animate-box">
									<a href={{imgUrl}} class="image-popup fh5co-board-img"><img src={{imgUrl}} alt="Deseo pic"></a>
								</div>
								<div class="container-flex">
									<div class="text-center text-topmargin text-green">{{right}}</div>
									<div class="fh5co-desc">{{name}}</div>
									<div class="container-flex">
										<a class="text-left text-leftpadding text-bottompadding" href={{purchaseUrl}} target="_blank">Purchase Link</a>
										<a class="text-right text-rightpadding text-bottompadding" href="/{{../userId}}/delete/{{_id}}">Delete item</a>
									</div>
								</div>
							</div>
						{{/each}}
					{{else}}
						{{#each wishes}}
							{{#if private}}
							{{else}}
								<div class="item">
									<div class="animate-box">
										<a href={{imgUrl}} class="image-popup fh5co-board-img"><img src={{imgUrl}} alt="Deseo pic"></a>
									</div>
									<a class="text-center text-topmargin" href={{purchaseUrl}}>Purchase Link</a>
									<div class="container-flex">
										<div class="fh5co-desc">{{name}}</div>
										<div class="container-flex">
											{{#if adopted}}
												<div class="text-left text-leftpadding text-bottompadding text-green">Adopted</div>
											{{else}}
												<a class="text-left text-leftpadding text-bottompadding text-green" href="/{{_id}}/{{../../../friendId}}/adopt">Adopt this gift</a>
											{{/if}}
										<a class="text-right text-rightpadding text-bottompadding" href="/{{../../userId}}/addToMyWishList/{{_id}}">Add to my wishlist</a>
									</div>
									</div>
								</div>
							{{/if}}
						{{/each}}
					{{/if}}
					{{/if}}
        </div>
        </div>
       </div>
	</div>
	<footer id="fh5co-footer">
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="fh5co-social-icons">
						<a href="#"><i class="icon-twitter"></i></a>
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-instagram"></i></a>
						<a href="#"><i class="icon-dribbble"></i></a>
						<a href="#"><i class="icon-youtube"></i></a>
					</p>
					<p><small>&copy; By Deseo, produced during Horizons Hackathon. All Rights Reserved. <br>Designed by: <a href="https://www.linkedin.com/in/jingyuan-wang-439301127/" target="_blank">Fried Chicken</a> | Images by: <a href="https://www.google.com/" target="_blank">Google</a> </small></p>
				</div>
			</div>
		</div>
	</footer>
